<a href="https://colab.research.google.com/github/JKSmirny/DeepLearningHomework_CharityFundingPredictor/blob/main/Copy_of_CharityPredictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

# New Section

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,Jan-99,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

# New Section

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
charity_df = application_df.drop(['EIN'], axis=1)
charity_df = charity_df.drop(['NAME'], axis=1)
charity_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,Jan-99,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
print(charity_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
charity_bins = charity_df['APPLICATION_TYPE'].value_counts()
charity_bins = pd.DataFrame(charity_bins)
charity_bins

     APPLICATION_TYPE
T3              27037
T4               1542
T6               1216
T5               1173
T19              1065
T8                737
T7                725
T10               528
T9                156
T13                66
T12                27
T2                 16
T25                 3
T14                 3
T29                 2
T15                 2
T17                 1

In [ ]:
# Check column data types
#charity_df.dtypes

In [ ]:
# Check column data types
charity_bins.dtypes

APPLICATION_TYPE    int64
dtype: object

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(charity_bins[charity_bins < 100].index)
application_types_to_replace

['T3',
 'T4',
 'T6',
 'T5',
 'T19',
 'T8',
 'T7',
 'T10',
 'T9',
 'T13',
 'T12',
 'T2',
 'T25',
 'T14',
 'T29',
 'T15',
 'T17']

In [ ]:
# Replace in dataframe
for app in application_types_to_replace:
    charity_df['APPLICATION_TYPE'] = charity_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
charity_df['APPLICATION_TYPE'].value_counts()
charity_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,Other,Independent,C2000,Preservation,Co-operative,1,Jan-99,N,108590,1
2,Other,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,Other,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,Other,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,Other,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,Other,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,Other,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,Other,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,Other,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Look at CLASSIFICATION value counts for binning
charity_classes = charity_df['CLASSIFICATION'].value_counts()
charity_classes

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications = charity_classes[charity_classes >100]
classifications = pd.DataFrame(classifications)
classifications

       CLASSIFICATION
C1000           17326
C2000            6074
C1200            4837
C3000            1918
C2100            1883
C7000             777
C1700             287
C4000             194
C5000             116
C1270             114
C2700             104

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classifications[classifications < 2000].index)
classifications_to_replace

['C1000',
 'C2000',
 'C1200',
 'C3000',
 'C2100',
 'C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700']

In [ ]:
# Replace in dataframe
charity_classes_df = charity_df
for cls in classifications_to_replace:
    charity_classes_df['CLASSIFICATION'] = charity_classes_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
charity_classes_df['CLASSIFICATION'].value_counts()

Other    33630
C2800       95
C7100       75
C1300       58
C1280       50
         ...
C4120        1
C2561        1
C1245        1
C8210        1
C2150        1
Name: CLASSIFICATION, Length: 61, dtype: int64

In [ ]:
charity_classes_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,Independent,Other,ProductDev,Association,1,0,N,5000,1
1,Other,Independent,Other,Preservation,Co-operative,1,Jan-99,N,108590,1
2,Other,CompanySponsored,Other,ProductDev,Association,1,0,N,5000,0
3,Other,CompanySponsored,Other,Preservation,Trust,1,10000-24999,N,6692,1
4,Other,Independent,Other,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,Other,Independent,Other,ProductDev,Association,1,0,N,5000,0
34295,Other,CompanySponsored,Other,ProductDev,Association,1,0,N,5000,0
34296,Other,CompanySponsored,Other,Preservation,Association,1,0,N,5000,0
34297,Other,Independent,Other,ProductDev,Association,1,0,N,5000,1
34298,Other,Independent,Other,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`

classifications_df = pd.get_dummies(charity_classes_df,dtype=float)
classifications_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,...,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,INCOME_AMT_Jan-99,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,1,5000,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = classifications_df['IS_SUCCESSFUL'].values
y

array([1, 1, 0, ..., 0, 1, 0])

In [ ]:
# Drop the column 'IS_SUCCESSUL'
X = classifications_df.drop('IS_SUCCESSFUL', axis=1).values
X

array([[1.0000000e+00, 5.0000000e+03, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0859000e+05, 1.0000000e+00, ..., 1.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 5.0000000e+03, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 3.6500179e+07, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [ ]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
X_train.shape

(25724, 90)

In [ ]:
y_train.shape

(25724,)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])

hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn_model = tf.keras.models.Sequential()

In [ ]:
# first hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# output layer 
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 637

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 21)                315

=================================================================
Total params: 1,064
Trainable params: 1,064
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_model.compile(optimizer='adam',loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True), metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100

/usr/local/lib/python3.7/dist-packages/tensorflow/python/util/dispatch.py:1082: UserWarning: "`sparse_categorical_crossentropy` received `from_logits=True`, but the `output` argument was produced by a sigmoid or softmax activation and thus does not represent logits. Was this intended?"
  return dispatch_target(*args, **kwargs)

804/804 [==============================] - 2s 2ms/step - loss: 0.9497 - accuracy: 0.6628
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6057 - accuracy: 0.6966
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6009 - accuracy: 0.6986
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5998 - accuracy: 0.6992
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5992 - accuracy: 0.6985
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5985 - accuracy: 0.6998
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5985 - accuracy: 0.6998
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5977 - accuracy: 0.7006
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5980 - accuracy: 0.7004
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5970 - accuracy: 0.7008
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5968 - accuracy: 0.7014
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5972 - accuracy: 0.7016
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5966 - accuracy: 0.7004
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5965 - accuracy: 0.7012
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5963 - accuracy: 0.7013
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5964 - accuracy: 0.7021
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5963 - accuracy: 0.7016
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5960 - accuracy: 0.7019
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5958 - accuracy: 0.7018
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5962 - accuracy: 0.7015
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5957 - accuracy: 0.7025
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5955 - accuracy: 0.7031
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5955 - accuracy: 0.7032
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5955 - accuracy: 0.7017
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5952 - accuracy: 0.7021
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5951 - accuracy: 0.7023
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5953 - accuracy: 0.7016
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5950 - accuracy: 0.7026
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5950 - accuracy: 0.7024
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5949 - accuracy: 0.7023
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5950 - accuracy: 0.7019
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5950 - accuracy: 0.7028
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5948 - accuracy: 0.7024
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5952 - accuracy: 0.7025
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5949 - accuracy: 0.7021
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5946 - accuracy: 0.7032
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5946 - accuracy: 0.7025
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5945 - accuracy: 0.7034
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5948 - accuracy: 0.7029
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5947 - accuracy: 0.7032
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5944 - accuracy: 0.7033
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5942 - accuracy: 0.7046
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5945 - accuracy: 0.7033
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5945 - accuracy: 0.7030
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5946 - accuracy: 0.7030
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5943 - accuracy: 0.7032
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5947 - accuracy: 0.7030
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5945 - accuracy: 0.7039
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5943 - accuracy: 0.7037
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5941 - accuracy: 0.7038
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5943 - accuracy: 0.7029
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5941 - accuracy: 0.7030
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5944 - accuracy: 0.7034
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5940 - accuracy: 0.7032
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5940 - accuracy: 0.7035
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5943 - accuracy: 0.7038
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5942 - accuracy: 0.7030
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5941 - accuracy: 0.7029
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5941 - accuracy: 0.7037
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5941 - accuracy: 0.7029
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5939 - accuracy: 0.7041
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5939 - accuracy: 0.7038
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5938 - accuracy: 0.7041
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5938 - accuracy: 0.7040
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5940 - accuracy: 0.7032
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5939 - accuracy: 0.7042
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5938 - accuracy: 0.7040
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5939 - accuracy: 0.7039
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5936 - accuracy: 0.7042
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5937 - accuracy: 0.7041
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5938 - accuracy: 0.7039
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5935 - accuracy: 0.7039
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5939 - accuracy: 0.7041
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5939 - accuracy: 0.7037
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5936 - accuracy: 0.7041
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5935 - accuracy: 0.7039
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5940 - accuracy: 0.7041
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5932 - accuracy: 0.7046
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5936 - accuracy: 0.7034
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5941 - accuracy: 0.7035
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5934 - accuracy: 0.7038
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5937 - accuracy: 0.7041
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5937 - accuracy: 0.7042
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5936 - accuracy: 0.7041
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5935 - accuracy: 0.7043
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5934 - accuracy: 0.7044
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5936 - accuracy: 0.7042
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5935 - accuracy: 0.7040
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5932 - accuracy: 0.7039
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5935 - accuracy: 0.7041
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5933 - accuracy: 0.7045
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5934 - accuracy: 0.7042
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5933 - accuracy: 0.7032
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5933 - accuracy: 0.7039
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5936 - accuracy: 0.7038
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5935 - accuracy: 0.7037
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5934 - accuracy: 0.7036
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5933 - accuracy: 0.7038
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5934 - accuracy: 0.7036
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5934 - accuracy: 0.7035

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

/usr/local/lib/python3.7/dist-packages/tensorflow/python/util/dispatch.py:1082: UserWarning: "`sparse_categorical_crossentropy` received `from_logits=True`, but the `output` argument was produced by a sigmoid or softmax activation and thus does not represent logits. Was this intended?"
  return dispatch_target(*args, **kwargs)

268/268 - 0s - loss: 0.6034 - accuracy: 0.6970 - 484ms/epoch - 2ms/step
Loss: 0.6034411191940308, Accuracy: 0.697026252746582

In [ ]:
# Export our model to HDF5 file
from google.colab import files

nn_model.save('/content/nn_model.h5')
files.download('/content/nn_model.h5')